<div class="container addButtonDiv">
    <a class="btn btn-primary btn-sm" href="#/notes/create">Add Note</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div data-ng-repeat="note in notes | orderBy:'-created' track by note.id ">
            <div class="col-sm-4">
                <a data-ng-href="#/notes/{{note.id}}" class="blockLink">
                    <div class="noteBlock panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title blockLinkTitle stop-overflow">
                                {{note.title}}
                                <small class="muted blockLink" data-am-time-ago="note.created"></small>
                            </h3>
                        </div>
                        <div class="panel-body force-wordwrap">
                            {{note.body | limitWithEllipsis: 50}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
